* {
    margin: 0;
    padding: 0;
}
@viewport {
    width: device-width ;
    zoom: 1;
}
@font-face {
    font-family: "Comfortaa";
    src:
    url("Comfortaa/Comfortaa-Regular.woff") format("woff"),
    url("Comfortaa/Comfortaa-Regular.woff2") format("woff2"),
    url("Comfortaa/Comfortaa-Regular.svg") format("svg"),
    url("Comfortaa/Comfortaa-Regular.ttf") format("ttf"),
    url("Comfortaa/Comfortaa-Regular.eot") format("eot");
}
@font-face {
    font-family: "Visitor";
    src:
    url("Visitor/VisitorTT1BRK.woff") format("woff"),
    url("CVisitor/VisitorTT1BRK.woff2") format("woff2"),
    url("Visitor/VisitorTT1BRK.svg") format("svg"),
    url("Visitor/VisitorTT1BRK.ttf") format("ttf"),
    url("Visitor/VisitorTT1BRK.eot") format("eot");
}

body {
    margin-top: 1%;
    position: relative;
    width: 100%;
    height: 100%;

    background-color: #ede2dc;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    flex-wrap: wrap;
    // stretch the content out to the size of the box
    align-items: stretch;
    // push all the box together in the center
    align-content: center;
    color: #3c4a52;
    // #fb2e01 red
    // #6fcb9f blue
    .container1 {
        // grow, shrink, base
        flex: 0 1 100%;
        background-color: white;
        width: 85%;
        position: relative;
        padding-bottom: 1%;
        margin-bottom: 5%;
        font-family: 'Courier New', Courier, monospace;
        // Name
        h1 {
            position: relative;
            left: 8.5%;
            text-align: right;
            margin-top: 5%;
            margin-left: -4%;
            max-width: 30%;
        }
        // Informations
        .textBody {
            color: #3c4a52;
            // background-color: #f06161;
            position: absolute;
            font-size: 1.2em;
            text-align: right;
            
            max-width: 30%;
            max-height: 30%;
            left: 4.5%;
            margin-top: 1%;

            overflow: scroll;
            -ms-overflow-style: none;
        }
        .textBody::-webkit-scrollbar {
            display: none;
        }
        // Description of site
        .textBody2 {
            color: #3c4a52;
            // background-color: #f06161;
            // border: 2px solid #3c4a52;
            position: absolute;
            font-size: 2em;
            text-align: left;

            max-width: 55%;
            max-height: 40%;
            
            right: 8%;
            top: 35%;

            // hide scroll bar
            overflow: scroll;
            -ms-overflow-style: none;
        }
        .textBody2::-webkit-scrollbar { 
            display: none; 
        } 

        ul {
            position: relative;
            // left: 16.7%;
            margin-top: 10%;
            margin-left: 20%;
            display: inline-block;
            list-style-type: none;
            text-align: right;
            
            li {
                float: left;
                padding: 10px;
                a {
                    // background-color: yellowgreen;
                color: #3c4a52;
                text-decoration: none;

                
                }
                a:hover {
                    background-color: #3c4a52;;
                    color: #ede2dc;
                }
            }
        }

    }
    .container2 {
        flex: 0 1 100%;
        background-color: white;
        width: 85%;
        margin-top: .5%;
        padding-bottom: 60%;
        position: relative;

        font-family: 'Courier New', Courier, monospace;
        h1 {
            position: relative;
            left:8%;
            margin-top: 2%;
        }

        .img1 {
            max-width: 40%;
            height: auto;
            // border: 5px solid black;

            position: absolute;
            left: 2%;
            top: 20%;
            // border: 1px solid black;
        }
        .img2 {
            position: absolute;
            height: auto;
            width: 50%;
            left: 45%;
            bottom: 5%;
        }

        p {
            left: 0%;
            bottom: 0%;
        }
        .caption {
            position: absolute;
            bottom: 25%;
            left: 12%;
        }
        .textBody {
            position: absolute;
            top: 20%;
            left: 45%;
            width: 50%;
            max-height: 10%;

            overflow: scroll;
            -ms-overflow-style: none;
        }
        .textBody::-webkit-scrollbar {
            display: none;
        }
        .textBody2 {
            position: absolute;
            top: 32%;
            left: 45%;
            width: 50%;
            max-height: 10%;
            
            overflow: scroll;
            -ms-overflow-style: none;
        }
        .textBody2::-webkit-scrollbar {
            display: none;
        }
        .textBody3 {
            position: absolute;
            top: 43%;
            left: 45%;
            width: 50%;
            max-height: 10%;

            overflow: scroll;
            -ms-overflow-style: none;
        }
        .textBody3::-webkit-scrollbar {
            display: none;
        }
    }
    .container3 {
        flex: 0 1 100%;
        background-color: white;
        width: 85%;
        position: relative;
        margin-top: .5%;
        padding-bottom: 3%;
        
        font-family: 'Courier New', Courier, monospace;
        h1 {
            position: relative;
            left:8%;
            margin-top: 2%;
            text-align: left;
        }

        img {
            height: auto;
            max-width: 50%;

        }
        .img1 {
            position: absolute;
            width: 30%;
            border: 2px solid #3c4a52;
            left: 8%;
            top: 20%;
            // padding-bottom: 10%;
        }
        .img2 {
            position: relative;
            padding-top: 30%;
            width: 30%;
            left: 55%;
            bottom: 0;
        }
        p {
            position: absolute;
            left: 0%;
            bottom: 0%;
        }
        .textBody {
            position: absolute;
            top: 20%;
            left: 45%;
            width: 50%;
            max-height: 10%;

            overflow: scroll;
            -ms-overflow-style: none;
        }
        .textBody::-webkit-scrollbar {
            display: none;
        }
        .textBody2 {
            position: absolute;
            top: 32%;
            left: 45%;
            width: 50%;
            max-height: 12%;
            
            overflow: scroll;
            -ms-overflow-style: none;
        }
        .textBody2::-webkit-scrollbar {
            display: none;
        }
        .textBody3 {
            position: absolute;
            top: 46%;
            left: 45%;
            width: 50%;
            max-height: 20%;

            overflow: scroll;
            -ms-overflow-style: none;
        }
        .textBody3::-webkit-scrollbar {
            display: none;
        }
    }
    .container4 {
        flex: 0 1 100%;
        background-color: white;
        width: 85%;
        position: relative;
        margin-top: .5%;
        padding-bottom: 52%;
        
        font-family: 'Courier New', Courier, monospace;
        h1 {
            position: relative;
            left:8%;
            margin-top: 2%;
            text-align: left;
        }

        .img1 {
            transform: rotate(90deg);
            width: auto;
            height: 52%;
            border: 2px solid #3c4a52;

            position: absolute;
            left: 0;
            top: 29.7%;
        }
        .img2 {
            width: auto;
            height: 30%;
            border: 2px solid #3c4a52;

            position: absolute;
            left: 45%;
            bottom: 5%;
        }
        p {
            left: 0%;
            bottom: 0%;
            width: 50%;
        }
        .textBody {
            position: absolute;
            top: 17%;
            left: 45%;
            width: 50%;
            max-height: 14%;

            overflow: scroll;
            -ms-overflow-style: none;
        }
        .textBody::-webkit-scrollbar {
            display: none;
        }
        .textBody2 {
            position: absolute;
            top: 31%;
            left: 45%;
            width: 50%;
            max-height: 16%;
            
            overflow: scroll;
            -ms-overflow-style: none;
        }
        .textBody2::-webkit-scrollbar {
            display: none;
        }
        .textBody3 {
            position: absolute;
            top: 50%;
            left: 45%;
            width: 50%;
            max-height: 20%;

            overflow: scroll;
            -ms-overflow-style: none;
        }
        .textBody3::-webkit-scrollbar {
            display: none;
        }
    }
}

.highlights {
    background-color: #3c4a52;
    color: #ede2dc;
}
.highlightscover {
    background-color: #3c4a52;
    color: #ede2dc;
}
.caption {
    font-size: .75em;
    text-align: center;
    color: #3c4a52;
}
