@media (min-width: 992px) {
  .d-xl-flex {
    width: 55%;
  }
}

@media (min-width: 992px) {
  .img-fluid.d-flex {
    width: 100%;
    max-width: 45%;
  }
}

.summary {
  border-bottom: 2px solid rgb(86,88,91);
}

.h1, h1 {
  border-top: 2px solid rgb(86,88,91);
}

.h1, h1 {
  border-top: 0;
}

